html {
  font-family: Georgia, serif;
  color: #fff;
  background-color: #495562;
}

.btn-ghost {
  border: 2.5px solid #97a49b;
  color: #fff;
}

.btn-ghost:hover {
  border: 2.5px solid #efefef;
  background-color: #efefef;
  color: #495562;
}

@media only screen and (min-width: 38em) {

  .btn-box {
    text-align: right;
  }

  .banner-image {
    max-height: 500px;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    position: relative;
  }

  .banner-content {
    background-image: linear-gradient(to top, rgba(73, 85, 98, .753), rgba(73, 85, 98, .007));
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .btn-ghost {
    border: 2.5px solid #efefef;
    color: #fff;
  }

}
